<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><%= title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 left">
                   <div class="col-md-4"></div>
                   <div class="col-md-8 phonepic">
                        <div class="postpic">
                            <img src="https://www.instagram.com/static/images/homepage/screenshot1.jpg/aafd8c6b005d.jpg" alt="">
                            <img class="_824m9  " src="/static/images/homepage/screenshot2.jpg/2d9d7248af43.jpg" alt="">
                            <img class="_824m9  _9i1mm" src="/static/images/homepage/screenshot3.jpg/629d23a3c7b2.jpg" alt="">
                            <img class="_824m9 _4je3h " src="/static/images/homepage/screenshot4.jpg/001bc33056c1.jpg" alt="">
                            <img class="_824m9  " src="/static/images/homepage/screenshot5.jpg/f5ae123ab1e2.jpg" alt="">
                        </div>
                   </div>
                </div>
                <div class="col-md-6 right">
                    <div class="col-md-8 login">
                        <h3>Instagram</h3>
                        <hr>
                        <form id="login-form">
                            <input type="text" class="col-md-12 input-style" name="username" placeholder="電話號碼、用戶名稱或電子郵件" />
                            <input type="text" class="col-md-12 input-style" name="password" placeholder="密碼" />
                            <button type="submit" class="col-md-12 button-style">登入</button>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </body>
</html>