body {
	background-color: #fafafa !important;
	color: black;
}

.container-adjust{
	max-width: 1000px !important;
}

.header {
	border-bottom: 1px solid #CCCCCC;
	background-color: white;
	height: 80px;    
}

.logo{
	color: white;
	text-decoration: none;
	overflow: hidden;
	text-indent: 110%;
	background-image: url("https://www.instagram.com/static/bundles/base/sprite_core.png/19dc690c8ea9.png");
    background-repeat: no-repeat;
	background-position: -174px -265px;
    height: 35px;
    width: 18.5%;
    cursor: pointer;
}

.search {
	margin-top: 5px;
	margin-left: 200px;
}

.search-input {
	width: 200px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	background-color: #fafafa;
	text-align: center;
	
}

.icon {
	background-image: url(https://www.instagram.com/static/bundles/base/sprite_core.png/19dc690c8ea9.png);
    background-repeat: no-repeat;
    background-position: -452px -380px;
    width: 19px;
    height: 20px;
    overflow: hidden;
    /* text-indent: 131%; */
    color: transparent;
}
.search-input-click {
	width: 200px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	padding: 0 21px;
    background-image: url(https://www.instagram.com/static/bundles/base/sprite_core.png/19dc690c8ea9.png);
    background-repeat: no-repeat;
    background-position: -450px -379px;
}